In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [90]:
# bring in the csv file called practical_edit.csv
df = pd.read_csv('practical_edit.csv')

In [91]:
#separte the data in column 3 into two columns
df[['total_sales?', 'online_sales?']] = df['total_sales & online_sales'].str.split(' ', expand=True)
df.head()

KeyError: 'total_sales & online_sales'

In [ ]:
# remove the '(' and ')' from the data in the online_sales? column
df['online_sales?'] = df['online_sales?'].str.replace('(', '')
df['online_sales?'] = df['online_sales?'].str.replace(')', '')
df.head()

/var/folders/x7/4frtg_jx34g69lycmb25nq5m0000gn/T/ipykernel_2319/1361992914.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['online_sales?'] = df['online_sales?'].str.replace('(', '')
/var/folders/x7/4frtg_jx34g69lycmb25nq5m0000gn/T/ipykernel_2319/1361992914.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['online_sales?'] = df['online_sales?'].str.replace(')', '')

,food_name,date_added,date_modified,total_sales & online_sales,approved,heading row,total_sales?,online_sales?
0,dill,02/01/1900,16/04/2017,1482 (139),1.0,NaN,1482,139
1,doughnut,02/01/2018,16/02/2018,4828 (895),1.0,NaN,4828,895
2,yolk,02/01/2018,02/09/2019,1890 (226),1.0,NaN,1890,226
3,mutton,04/01/2018,11/11/2019,2850 (1861),1.0,NaN,2850,1861
4,tuna,08/01/2018,04/11/2019,907 (4221),1.0,NaN,907,4221

In [ ]:
# remove column 3
df = df.drop('total_sales & online_sales', axis=1)

In [ ]:
# change the order of the columns
df = df[['food_name', 'date_added', 'date_modified', 'online_sales?', 'total_sales?', 'approved', 'heading row']]
df.head()

,food_name,date_added,date_modified,online_sales?,total_sales?,approved,heading row
0,dill,02/01/1900,16/04/2017,139,1482,1.0,NaN
1,doughnut,02/01/2018,16/02/2018,895,4828,1.0,NaN
2,yolk,02/01/2018,02/09/2019,226,1890,1.0,NaN
3,mutton,04/01/2018,11/11/2019,1861,2850,1.0,NaN
4,tuna,08/01/2018,04/11/2019,4221,907,1.0,NaN

In [ ]:
# rename the heading row to 'errors'
df = df.rename(columns={'heading row': 'errors'})
df.head()

,food_name,date_added,date_modified,online_sales?,total_sales?,approved,errors
0,dill,02/01/1900,16/04/2017,139,1482,1.0,NaN
1,doughnut,02/01/2018,16/02/2018,895,4828,1.0,NaN
2,yolk,02/01/2018,02/09/2019,226,1890,1.0,NaN
3,mutton,04/01/2018,11/11/2019,1861,2850,1.0,NaN
4,tuna,08/01/2018,04/11/2019,4221,907,1.0,NaN

In [ ]:
# for food_name 'dill' add text to column errors
df.loc[df['food_name'] == 'dill', 'errors'] = 'date added is incorrect'

In [ ]:
# for food_name 'whipped cream' add text to column errors
df.loc[df['food_name'] == 'whipped cream', 'errors'] = 'date added is incorrect'

In [ ]:
# for food_name 'spinach' add text to column errors
df.loc[df['food_name'] == 'spinach', 'errors'] = 'sales data looks incorrect'

In [ ]:
# banana = date modified comes before date added
df.loc[df['food_name'] == 'banana', 'errors'] = 'date modified comes before date added'

In [ ]:
# danish pastry = has capitol D
df.loc[df['food_name'] == 'Danish pastry', 'errors'] = 'has a capitol letter'

In [ ]:
#Edam chease = capitol E
df.loc[df['food_name'] == 'Edam cheese', 'errors'] = 'has a capitol letter'

In [ ]:
# fruit = non-specific item (sales are low so it doesnt cover the fruit catefory)
df.loc[df['food_name'] == 'fruit', 'errors'] = 'non-specific item'

In [ ]:
# Jordan almonds = capitol letter 
df.loc[df['food_name'] == 'Jordan almonds', 'errors'] = 'capitol letter'

In [ ]:
# meatball = date added was in the wrong format
df.loc[df['food_name'] == 'meatball', 'errors'] = 'date added was in the wrong format'

In [ ]:
# mozzerella = date modified comes before date added
df.loc[df['food_name'] == 'mozzarella', 'errors'] = 'date modified comes before date added'

In [ ]:
# rice = no sales data or approval data
df.loc[df['food_name'] == 'rice', 'errors'] = 'no sales data or approval data'

In [ ]:
# popcorn = sales value is a float
df.loc[df['food_name'] == 'popcorn', 'errors'] = 'sales value is a float'

In [ ]:
# swiss chard = capitol letter
df.loc[df['food_name'] == 'Swiss chard', 'errors'] = 'capitol letter'

In [ ]:
# test = not a food 
df.loc[df['food_name'] == 'test', 'errors'] = 'not a food'

In [ ]:
# rewrite csv file with the new data
df.to_csv('practical_edit.csv', index=False)

In [92]:
# count the number of rows where total_sales? is less than online_sales?
df.loc[df['total_sales?'] < df['online_sales?']].count()
# swap the data in the total_sales? and online_sales? columns where total sales is less than online sales 
df.loc[df['total_sales?'] < df['online_sales?'], ['total_sales?', 'online_sales?']] = df.loc[df['total_sales?'] < df['online_sales?'], ['online_sales?', 'total_sales?']].values

In [93]:
# test to see if it worked
# count the number of rows where total_sales? is less than online_sales?
df.loc[df['total_sales?'] < df['online_sales?']].count()

food_name        0
date_added       0
date_modified    0
online_sales?    0
total_sales?     0
approved         0
errors           0
dtype: int64

In [94]:
# count the number of rows where total_sales? is greater than online_sales?
df.loc[df['total_sales?'] > df['online_sales?']].count()

food_name        402
date_added       402
date_modified    402
online_sales?    403
total_sales?     403
approved         403
errors            21
dtype: int64

In [95]:
# count the total number of rows in the dataframe
df.count()

food_name        403
date_added       403
date_modified    403
online_sales?    404
total_sales?     404
approved         403
errors            22
dtype: int64

There is data in the total sales column that is less than the online sales column which suggest this data is in the wrong column and should be swapped with the other column.

In [96]:
# check for null values
df.isnull().sum()

food_name          1
date_added         1
date_modified      1
online_sales?      0
total_sales?       0
approved           1
errors           382
dtype: int64

In [97]:
df

,food_name,date_added,date_modified,online_sales?,total_sales?,approved,errors
0,dill,02/01/1900,16/04/2017,139.0,1482.0,1.0,date added is incorrect
1,doughnut,02/01/2018,16/02/2018,895.0,4828.0,1.0,NaN
2,yolk,02/01/2018,02/09/2019,226.0,1890.0,1.0,NaN
3,mutton,04/01/2018,11/11/2019,1861.0,2850.0,1.0,NaN
4,tuna,08/01/2018,04/11/2019,907.0,4221.0,1.0,NaN
...,...,...,...,...,...,...,...
399,green tea,30/12/2019,31/12/2019,49.0,4026.0,1.0,NaN
400,brownie,31/12/2019,31/12/2019,1649.0,3655.0,1.0,NaN
401,bagel,01/01/2020,01/01/2020,1075.0,1801.0,1.0,NaN
402,whipped cream,35/01/2018,17/09/2018,2472.0,2901.0,1.0,date added is incorrect
403,syrup,NaN,04/09/2019,808.0,2502.0,1.0,missing date added

In [98]:
# rewrite csv file with the new data
df.to_csv('practical_new.csv', index=False)

In [99]:
# check the data types of the columns
df.dtypes

food_name         object
date_added        object
date_modified     object
online_sales?    float64
total_sales?     float64
approved         float64
errors            object
dtype: object