In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.DataFrame({'a': [1,2,3], "b": [4,5,6], 'c': [7,8,9]}, index = [1,2,3])
print(df)

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [5]:
dfMultiIndex = pd.DataFrame({'a': [1,2,3],
                             'b': [4,5,6], 
                             'c': [7,8,9]}, 
                             index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)],
                             names = ['x1','x2']))

In [13]:
# locating items by index
# 2 methods
df.loc[2,'b'] # location by:  row, label
df.iloc[1,2] # index location by: row, column

8

In [18]:
# concatenating
pd.concat([df,df], axis =1 ) # try changing the axis to concatenate horizontaly or virticaly

   a  b  c  a  b  c
1  1  4  7  1  4  7
2  2  5  8  2  5  8
3  3  6  9  3  6  9

In [20]:
# sorting 
df.sort_values('a', ascending = False) # sorting by row 'a'

   a  b  c
3  3  6  9
2  2  5  8
1  1  4  7

In [22]:
# delete a value 
df.drop(columns = 'a') # delete a whole column

   b  c
1  4  7
2  5  8
3  6  9

In [24]:
df.T # transpose (change the rows into colums and vice versa)

   1  2  3
a  1  2  3
b  4  5  6
c  7  8  9